.article {    
    // background: linear-gradient(to top, rgb(66, 66, 66), 10%, transparent);
    
    .article-title {
        text-align: left;
        font-size: 22px;
        line-height: 26px;
        font-family: Syne;
        text-decoration: none;
        color: white;
        // padding: 10px 0;      
        
    }
    .article-title:hover {
        color: #bd9b84;
        cursor: pointer;
        
    }
    .cat-date-com{
        // padding: 0 5px;
        display: flex;
        align-items: center;
        // background-color: rgba(34, 34, 34, 0.377);
    }
    .article-category,.article-date {
        font-size: 14px;
        margin-right: 15px;
        font-family: Manrope;
        text-decoration: none;
    }
    .article-category, .icons{
        color: #bd9b84;
    }

    .article-date {
        color: white;
        font-size: 14px;
        margin-right: 15px;    
    }
 
    
    .article-comments {
        font-size: 14px;   
        color: white; 
    }
    
    .icons{
        height: 14px;
        width: 14px;
        margin-right: 10px;
    }
    .icons:last-child{
        margin-right: 0;
    }

    .under-title{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
    }
}

