.article {    
    // background: linear-gradient(to top, rgb(66, 66, 66), 10%, transparent);
    position: relative;
        
    
    .article-title {
        text-align: left;
        font-size: 22px;
        line-height: 26px;
        font-family: Syne;
        text-decoration: none;
        color: white;
        position: absolute;
        bottom: 90px;
        padding: 0 30px;      
        
    }
    .article-title:hover {
        color: #bd9b84;
        cursor: pointer;
        
    }
    .cat-date-com{
        position: absolute;
        bottom: 60px;
        padding: 0 30px; 
        // padding: 0 5px;
        display: flex;
        align-items: center;
        color: white;
        // background-color: rgba(34, 34, 34, 0.377);
    }
    .article-category,.article-date {
        font-size: 14px;
        margin-right: 15px;
        font-family: Manrope;
        text-decoration: none;
    }
    .article-category, .icons, .like{
        color: #bd9b84;
    }

    .link-category {        
        margin-right: 15px;
        
    }

    .link-category a{
        font-size: 14px;
        font-family: Manrope;
        text-decoration: none;
        color: #bd9b84;
    }

    .article-date {
        color: white;
        font-size: 14px;
        margin-right: 15px;    
    }
 
    
    .article-comments {
        font-size: 14px;   
        color: white; 
    }
    
    .icons{
        
        // padding: 0 30px; 
        height: 14px;
        width: 14px;
        margin-right: 10px;
    }
    .like{
        position: absolute;
        top: 30px;
        right: 30px;
        .like-icon{
            width: 20px;
            height: 20px;
        }        
    }
    
}
.gradient {
	display: inline-block;
	position: relative;    
	line-height: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to top, black, 10%, transparent 20%);
	opacity: 0.8;
}

.article-box-img {
    position: relative;
    overflow:hidden;
    width:100%;
    height:500px;
    img {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:100%;
        height:500px;
        object-fit:cover;
    }
}