.nav-active {   
    color: #bd9b84;
}

.nav-item {
    color: black;   
         
}


a.nav-item {    
    // border: 1px solid red;
    padding: 4px 0;    
}

.nav-item, .nav-active{
    width: 100px;
    text-align: center;
    text-decoration: none;
    // margin: 0 20px;   
    font-family: Manrope;
    font-size: 17px;
    text-transform: capitalize;
}

.MuiButtonBase-root{
    padding: 0;
    margin: 0;
}
