.category{

    margin-top: 30px;
    // margin-left: 10px;
    // margin-bottom: 30px;
    
    // .category-heading{
    //     font-family: Syne;
    //     font-size: 36px;
    //     font-weight: 700;
    //     // line-height: 38px;
    //     color: #000;         
    // }
    .category-item{
        margin-bottom: 70px;
        .box {
            position: relative;
            overflow:hidden;
            width:100%;
            height:500px;
            img {
                position: absolute;
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                width:100%;
                height:500px;
                object-fit:cover;
            }
        }
         
        // .box 

        .category-category {        
            // height: 20px;
            width: 100px;
            background-color: #fd2a42;    
            padding: 6px 22px;    
            margin-bottom: 5px;
            margin-top: 50px;
        }
        
        .category-category a {        
            text-decoration: none;
            color: white;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            font-family: Manrope;    
        }
        
        .category-continue{
            display: flex;
            align-items:center;
            position: relative;
            cursor: pointer;
            .category-continue-title{
                color: #333;
                font-size: 16px;
                line-height: 28px;
                font-weight: 700;
                font-family: Manrope;
                margin-right: 5px;
            }
            .category-continue-arrow-box{                
                color: #bd9b84;
                .category-continue-arrow{
                    position: absolute;
                    top:9px;
                    width: 16px;
                    height: 16px;

                }
            }
            .category-continue-title:hover{
                color: #bd9b84;
            } 
        }
          
    }
    
    .category-title{
        font-family: "Syne", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
    }
    // .category-item-text{
    //     margin-left: 30px;
    // }

    .category-description{
        color: #555555;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        font-family: Manrope;
        margin-top: 25px;
        margin-bottom: 25px;  
    }
    
}

.under-title-category{
    font-size: 14px;
    display: flex;
    align-items: center;      
    margin-top: 10px;
    color: #797171;
    // color: #fd2a42;
    .icons{
        color: #bd9b84;
        margin-right: 10px;
    }
    .date{
        margin-right: 30px;        
    }
}

