.container{
    background-color: whitesmoke;
    display: flex;
    overflow: hidden;
}

.slider{
    width: 300px;
    margin: 0 20px;
    img{
    }
}

.slide-right-enter{
    transform: translateX(100%);
    
}
.slide-right-enter-active{
    transform: translateX(0%);
    transition: transform 1000ms ease-in-out;

}

// .slider {
//     position: relative;
//     width: 600px;
//     height: 300px;
//     margin: auto;
//     box-sizing: border-box;
//     display: flex;
//     align-items: center;
//     // overflow: hidden;
// }
 
// .slider-img {
//     position: absolute;
//     // width: 100%;
//     height: 100px;
//     transition: all 500ms;
// }
 
// .slider-img-prev {
//     transform: translateX(-100%);
    
// }
 
// .slider-img-next {
//     transform: translateX(100%);
    
// }