.date-comments{
    font-size: 14px;
    display: flex;
    align-items: center;      
    // margin-top: 10px;
    // color: red;
    .icons{
        color: #bd9b84;
        margin-right: 10px;
    }
    .date{
        // color: white;
        margin-right: 30px;
        
    }

}