.category{

    margin-top: 30px;
    // margin-left: 10px;
    // margin-bottom: 30px;
    
    // .category-heading{
    //     font-family: Syne;
    //     font-size: 36px;
    //     font-weight: 700;
    //     // line-height: 38px;
    //     color: #000;         
    // }
    .category-item{
        margin-bottom: 30px;
        .box {
            position: relative;
            overflow:hidden;
            width:100%;
            height:500px;
         }
         
         .box img {
            position: absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:100%;
            height:500px;
            object-fit:cover;
         }
         
    }
    .category-item-text{
        margin-left: 30px;
    }
    .category-title{
        font-family: "Syne", Sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
    }
    .category-category {        
        // height: 20px;
        width: 100px;
        background-color: #fd2a42;    
        padding: 6px 22px;    
        margin-bottom: 5px;
        margin-top: 20px;
        
    
    }
    
    .category-category a {        
        text-decoration: none;
        color: white;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        font-family: Manrope;    
    }

    .category-description{
        color: #555555;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        font-family: Manrope;
        margin-top: 25px;
        margin-bottom: 25px;  
    }
}

.under-title-category{
    font-size: 14px;
    display: flex;
    align-items: center;      
    margin-top: 10px;
    color: #797171;
    // color: #fd2a42;
    .icons{
        color: #bd9b84;
        margin-right: 10px;
    }
    .date{
        margin-right: 30px;
        
    }

}

