.next-prev{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(243, 248, 251, 0.6);    
    margin-top: 60px;
    padding: 30px;    
    border-radius: 20px;
}


.next-prev-left, .next-prev-right {
    // .box{
    //     width: 180px;
    //     height: 100px;
    //     overflow: hidden;        
    //     img {
    //       width: 100%;
    //       height: auto;
    //       padding: 10px;          
    //     }
    // }
    .box{
        width: 180px;
        height: 100px;
        // overflow: hidden;        
        img {
          width: 100px;
          height: 100px;
          padding: 10px; 
          object-fit: cover;         
        }
    }
    .heading2{
        font-size: 14px;
        font-weight: 400;
        color: #555555;        
        font-family: "Manrope";
    }
    .title2 a{
        font-family: "Syne", Sans-serif;
        font-size: 15px;
        font-weight: 500;
        // line-height: 1em;
        margin-bottom: 0px;
        text-decoration: none;
        color: #000;
    }
    .title2:hover a{
        color: #bd9b84;
    }
    // .box > img {
    //   display: block;
    //   margin-top: 0px;
    // }

}

.next-prev-left{
    display: flex;
    align-items: center;
    margin-right: 30px;    
}

.next-prev-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 30px;
    text-align: right;
    

}
  
