.related{
    margin-bottom: 50px;

    .related-title{
        font-family: "Syne";
        color: #000000;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }
}