.title{
    font-family: Syne;
    font-size: 34px;
    font-weight: 700;
    color: #000;

    background-color: rgba(243, 248, 251, 0.6);
    // background-color: gray;    
    border-radius: 20px;
    max-width: 1190px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-bottom: 70px;
}