.footer{
    .footer-title-1 {
        font-family: Syne;
        font-size: 38px;
        font-weight: 700;
        line-height: 32px;
        color: #000;
        margin-bottom: 10px;         
    }

    .footer-line{
        width: 45px;
        height: 5px;
        background-color: #bd9b84;
        
    }
    .footer-text-1{
        font-size: 17px;
        line-height: 30px;
        color: #111;
        margin-bottom: 10px;
        margin-top: 30px;
        font-family: "Manrope";    
        font-weight: 500;
        
    }
    .footer-address-phone{
        font-size: 17px;
        line-height: 30px;
        color: #111;
        margin-bottom: 10px;
        margin-top: 10px;
        font-family: "Manrope";    
        font-weight: 500;
        .footer-span{
            font-weight: bolder;
        }
    }
    .footer-2, .footer-3, .footer-4{
        margin-left: 50px;

        .footer-title-2, .footer-title-3, .footer-title-4 {
            font-family: Syne;
            font-size: 22px;
            font-weight: 700;
            line-height: 32px;
            color: #000;
            margin-bottom: 10px;         
        }
        .footer-list{
            list-style: none;
            font-size: 16px;
            line-height: 32px;
            color: #111;
            font-family: "Manrope";    
            font-weight: 500;
            padding: 0;            
        }
        .footer-list-item:hover a{
            color: #bd9b84;            
        }  
    }
    .footer-bottom{
        margin-top: 70px;
        border-top: 1.25px solid rgba(107, 105, 153, 0.39);        
        width: 100%;
        line-height: 70px;
        // padding-right: 15px;
        text-align: center;
        font-family: "Manrope";
        color: #111;
        font-size: 16px;
        font-weight: 500;


    }
}