
.sample-enter {
   
    transform: translateX(0);
  }
  .sample-enter-active {
      transform: translateX(100px);
   
    transition: transform 300ms;
  }  
  .sample-exit {
    transform: translateX(100px);
  }
  .sample-exit-active {
    transform: translateX(100px);
   
    transition: transform 300ms;
  }
  