.app-bar{
    background-color: green;
}

.app-bar-grey {
    background-color: grey;
    // border: solid 1px red;
    // border-radius: 50%;
    
}

.menu{
    display: flex;
    justify-content: center;
    .menu-inside{
        
    }
    
}

.menu_items{
    margin-right: 20px;
    color: black;
    font-family: Manrope;
    font-size: 17px;
    text-transform: capitalize;
}

