.slider {    
    position: relative;
    // width: 1400px;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    // margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}
 
.slider-img {    
    position: absolute;
    left: -26%;
     width: 26%;
   
    
    transition: all 700ms;
}


.id1 {
    transform: translateX(0%);    
  
}
.id2 {
    transform: translateX(100%);    
  
}
.id3 {
    transform: translateX(200%);    
  
}
.id4 {
    transform: translateX(300%);    
  
}
.id5 {
    transform: translateX(400%);    
  
}
.id6 {
    transform: translateX(500%);    
  
}
.id7 {
    transform: translateX(600%);    
  
}

.popular{
    margin-top: 100px;    
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    .popular-heading{
        font-family: Syne;
        font-size: 30px;
        font-weight: 700;
        // line-height: 38px;
        color: #000;         
    }
}   